.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
}

i {
  color: green;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.sendButton {
  width: 100%;
  font-size: 1.2em;
  padding: 10px;
  background-color: #28a745;
}
